@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Starjedi";
    src: url("../fonts/Starjedi.ttf");
}

.btn {
    @apply font-dosis text-xl transition duration-500 ease-in-out bg-blueSaber text-white font-bold px-8 py-4 rounded-full focus:outline-none focus:ring transform hover:-translate-y-1 hover:scale-110;

}
.darksidebtn {
    @apply font-dosis text-xl transition duration-500 ease-in-out bg-redSaber text-white font-bold px-8 py-4 rounded-full focus:outline-none focus:ring transform hover:-translate-y-1 hover:scale-110;
}
.chewybtn {
    @apply font-dosis text-xl transition duration-500 ease-in-out bg-chewbacca text-white font-bold px-8 py-4 rounded-full focus:outline-none focus:ring transform hover:-translate-y-1 hover:scale-110;
}
.greenbtn {
    @apply font-dosis text-xl transition duration-500 ease-in-out bg-greenSaber text-white font-bold px-8 py-4 rounded-full focus:outline-none focus:ring transform hover:-translate-y-1 hover:scale-110;
}

p {
    @apply text-white font-dosis;
}

.saberGlowDark {
  border:2px solid;
  animation: saberFlash 5s linear infinite;
}

.saberGlowLight {
    border: 2px solid; 
    animation: saberCalm 5s linear infinite;
}

.shipBoostGlow {
    border: 2px solid;
    animation: shipBoost 5s linear infinite;
}

.breadcrumb {
    @apply font-dosis text-lg text-white mx-5 ;
}

.buttonCool{
    @apply font-jedi text-2xl; 
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
.buttonCool:hover{
    background: #03e9f4;
    color: #ffffff;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 50px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #ffffff);
}
.buttonCool:nth-child(1){
    filter: hue-rotate(270deg);
}
.buttonCool:nth-child(2){
    filter: hue-rotate(110deg);
}
.buttonCool span{
    position: absolute;
    display: block;
}
.buttonCool span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.buttonCool span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.buttonCool span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.buttonCool span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.buttonCoolRed{
    @apply font-jedi text-2xl; 
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
.buttonCoolRed:hover{
    background: #a81515;
    color: #ffffff;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #a81515,
                0 0 50px #a81515,
                0 0 50px #a81515;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #ffffff);
}
.buttonCoolRed:nth-child(1){
    filter: hue-rotate(270deg);
}
.buttonCoolRed:nth-child(2){
    filter: hue-rotate(110deg);
}
.buttonCoolRed span{
    position: absolute;
    display: block;
}
.buttonCoolRed span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a81515);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.buttonCoolRed span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a81515);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.buttonCoolRed span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a81515);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.buttonCoolRed span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a81515);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}